@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins);
  /* Override default sans with poppins if desired */
  --font-sans: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --bg-body: #FFFBF1;
  --bg-surface: #fff7e2;

  --text-primary: #280905;
  --text-light: #2809058e;

  --accent: #E36A6A;
  --accent-light: #FFB2B2;

}

html,
body {
  background-color: var(--bg-body);
  color: var(--text-primary);
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}