@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins);
  /* Override default sans with poppins if desired */
  --font-sans: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --bg-body: #0a0a0a; /* Deep Space Black */
  --bg-surface: #171717; /* Dark Gray for surfaces/cards */

  --text-primary: #fafafa; /* Off-white for max readability */
  --text-light: #a1a1aa; /* Muted zinc for secondary text */

  --accent: #eab308; /* Mystic Gold accents */
  --accent-light: #fef08a; /* Lighter gold for hovers */
}

html,
body {
  background-color: var(--bg-body);
  color: var(--text-primary);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
